.nav_page {
    display: flex;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, rgb(134, 28, 160), rgba(255,0,128), rgba(56,2,155,0));
    border-image-slice: 1;
    padding-left: 50px;
    margin-bottom: 100px;
    color: beige;
  }

  .title_page {
    margin-right: 50px;
  }
  
.form_new_invest {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px rgb(255, 255, 255);
    border:2px solid rgb(91, 7, 119);
}

.form_new_invest p {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    width:200px;
    color: beige;
}

.form_new_invest p label {
    margin-bottom: 5px;
}

.form_new_invest p input {
    text-align: center;    
    width:200px;
    padding: 5px;
    border: 2px solid rgb(135, 2, 153);
    box-shadow: 0px 0px 3px 1px rgb(255, 255, 255);
    border-radius: 25px;

}

.form_new_invest input[type=submit] {
    display: flex;
    justify-content: center;
    align-self: center;
    width:150px;
    margin-top: 50px;
    padding: 5px;
    border: 2px solid rgb(135, 2, 153);
    box-shadow: 0px 0px 3px 1px rgb(255, 255, 255);
    border-radius: 25px;
}

.errorlist {
    text-align: center;
    border: 1px solid red;
    padding: 5px;
    border-radius: 10px;
    color: beige;
    list-style-type: none;
    box-shadow: inset 0px 0px 3px 1px black;
}