{% extends 'buy_asset/base.html' %}
{% load static %}

{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'buy_asset/asset_buy_detail.css' %}" />
</head>

<section class="nav_page">

    <h2 class="title_page">Details Investiments</h2>

    <a class="link_new_buy_asset" href="{% url 'buy_new_asset' %}">[ Enter New Buy Asset ]</a>

</section>

<section class="section_buyasset">
    
    <table class="table">

        <tr class="label_table_buyasset">
            <th class="label">Asset</th>
            <th class="label">Price asset</th>
            <th class="label">Amount</th>
            <th class="label">Nb tokens</th>
            <th class="label">Blockchain</th>
            <th class="label"></th>
        </tr>

        <tbody>
            <tr>
                <td colspan="4"><hr></td>
            </tr>

            {% for asset in all_assets_buy %}

            <tr class="label_detail_buy">
                <td class="detail_buy">{{ asset.name|capfirst }}</td>
                <td class="detail_buy">$ {{ asset.price|floatformat:8 }}</td>
                <td class="detail_buy">$ {{ asset.amount|floatformat:3 }}</td>
                <td class="detail_buy">{{ asset.asset_tokens|floatformat:8 }}</td>
                <td class="detail_buy">{{ asset.blockchain|capfirst }}</td>
                <td class="detail_buy"><a href="{% url 'asset_sell' asset.id %}">[ Vendre ]</a></td>
            </tr>

            <tr>
                <td colspan="4"><hr></td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
</section>

{% endblock %}