{% extends 'buy_asset/base.html' %}
{% load static %}

{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'buy_asset/form_asset_sell.css' %}" />
</head>


<section class="nav_page">

    <h2 class="title_page">Validate Sell Asset</h2>

</section>

<p class="validate">Voulez-vous vraiment vendre cet Investissements ?</p>

<form class="form_asset_sell" action="" method="post">

    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="Sell">

</form>

<p class="return_buy_asset"><a href="{% url 'asset_buy_detail' %}">[ Retour au détail des achats ]</a></p>

{% endblock %}