.nav_page {
  display: flex;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(0.25turn, rgb(134, 28, 160), rgba(255,0,128), rgba(56,2,155,0));
  border-image-slice: 1;
  padding-left: 50px;
  margin-bottom: 100px;
}

.title_page {
  color:beige;
  margin-right: 50px;
}

.link_new_buy_asset {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: beige;
}

.section_buyasset {
  margin: auto;
  margin-bottom: 100px;
}

.table {
  width: 75%;
  margin: auto;

}

.label_table_buyasset {
  display: flex;
  margin: auto;
  width: 85%;
  padding: 5px;
  border: 3px ridge rgb(165, 33, 177);
  border-radius: 25px;
  margin-bottom: 1%;
}

.label {
  width: 20%;
  color: beige;

}

.label_detail_buy {
  display: flex;
  margin: auto;
  width: 85%;

}

.detail_buy {
  width: 20%;
  color: beige;
  text-align: center;

}

.detail_buy a {
  width: 10%;
  color: rgb(240, 12, 12);
  text-align: center;
  text-decoration: none;

}